@mixin screen($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type == max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

/*
Миксин для быстрого выравнивания блока по центру
Пример использования:
div {
  @include center-block;
}
*/
@mixin center-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
Миксин для адаптивных свойств
Пример: @include rule(width, (xl: 100px, lg: 200px));
*/
@mixin rule($name, $pointsAndValues) {
  @each $breakpoint, $value in $pointsAndValues {
    @if $breakpoint == xl {
      #{$name}: #{$value};
    }

    @if $breakpoint != xl {
      @include screen("#{$breakpoint}") {
        #{$name}: #{$value};
      }
    }
  }
}



/*
Быстренько подрубаем аппаратное ускорение для анимирующихся элементов.
Пример использования:
div {
  @include performance;
}
*/
@mixin performance($backface: true, $perspective: 1000) {
    @if $backface {
      backface-visibility: hidden;
    }
  
    perspective: $perspective;
  }
