mixin icon(iconName, type = 'png')
    if(type == 'png')
        i(class='icon '+'icon-'+iconName)
    else
        i(class='svg-icon '+'svg-'+iconName)

//
// ниже для примера
//
mixin sliderSimple(json)
  each data in json
    .swiper-slide #{data.name}

mixin slider(classSlider, pagination,navigation,scrollbar)
  div(class=classSlider).swiper-container
    .swiper-wrapper
      block
    if(pagination)
      .swiper-pagination
    if(navigation)
      .swiper-button-prev
      .swiper-button-next
    if(scrollbar)
      .swiper-scrollbar