extends ../layouts/default.pug

block variables
 -var pageTitle='Главная'

block content
    .page
        .swiper-container.slider
            .swiper-wrapper
                +slider(getData('slidesOnMain'))
    +icon('car','svg')
    +icon('logo')
