extends ../layouts/default.pug

block variables
 -var pageTitle='Главная'

block content
    .page
        .swiper-container.slider
            .swiper-wrapper
                +sliderSimple(getData('slidesOnMain'))
        +slider('awdawdaw',true,true,true)
            .swiper-slide awdawd
            .swiper-slide awdawd
            .swiper-slide awdawd
                
    +icon('car','svg')
    +icon('logo')
