extends ../layouts/default.pug

mixin slider(json)
  each data in json
    .swiper-slide #{data.name}

block variables
 -var pageTitle='Главная'

block content
    .page
        .swiper-container.slider
            .swiper-wrapper
                +slider(getData('slidesOnMain'))
